.about_main {
    padding: 10px 40px;
    font-size: 12pt;
    color: black;
    text-align: center;
}
.about_main h1 {
    font-size: 20pt;
    padding: 0;
    margin: 2px;
}
.about_main h3 {
    font-size: 13pt;
    margin-top: 0;
    margin-bottom: 10px;
}
.about_main p{
    text-indent: 30px;
}
.essay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 200px;
}
.essay p {
    margin: 0;
    padding: 0;
}
.essay li {
    width: fit-content
}
.stats-title {
    margin: 10px 10px;
    padding: 0
}
.list_link, .list_link a {
    padding: 10px;
    background-color: #08639C;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.back_to_learn {
    width: 200px;
    height: 30px;
    font-size: 14pt;
    font-weight: bold;
}
#map-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 350px; 
    margin: auto;
}
#map { 
    flex: 1;
    height: 100%; 
    max-width: 650px;
}
.map-caption {
    padding: 0;
    margin-top: 0;
    margin-top: 10px;
}
#time-select {
    font-size: 14pt;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#time-options-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#time-select-text {
    margin-right: 10px;
    font-weight: bold;
}
#map-legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 11pt;
}
#map-legend p {
    margin: 0px;
    font-size: 11pt;
}
#map-legend p svg {
    margin-left: 2px;
    margin-right: 10px;
}